body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    flex: 1;
}

html {
    height: 100%;
}

footer {
    padding: 24px;
    font-weight: bold;
    background-color: lightgreen;
    margin-top: auto;
}


img {
    height: 200px;
    margin: 0 auto;
    display: block;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    font-weight: bold;
    background-color: orangered;
}

a {
    width: 10em;
    height: 5ex;
    border-radius: 10px;
    font-weight: bold;
    color: green;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: greenyellow;
}

.recipe-item {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    grid-gap: 10px;
    padding: 20px;
}

h1 {
    color: darkgreen;
}

nav a:hover {
    background-color: orangered;
}

nav a {
    color: white;
}

main img {
    display: inline-block;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}